*
html {
  font-family: Helvetica, sans-serif;
}

body {
  text-align: center;
  font-weight: bold;
}

h1 {
  color: white;
  font-size: 70px;
}

a {
  color: white;
}

h2  {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#newyork {
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}

#header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
